.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  height: 56px;
  width: 56px;
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] .featureIcon {
  color: var(--ifm-color-primary-light);
}
